.hint-discover {
	display: flex;
	width: 324px;
	padding: 12px;
	gap: 16px;

	border-radius: 12px;
	background: #FFF;
	box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);
}

.hint-discover__picture {
	border-radius: 12px;
	overflow: hidden;
	flex-shrink: 0;
}

.hint-discover__description {
	flex-grow: 1;
}

.hint-discover__title {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

.hint-discover__rating {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4px;


	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;

	&::before {
		content: "";
		width: 17px;
		height: 16px;
		background-image: url('./../img/icons/star-small.svg');
	}
}

.hint-discover__price {
	color: var(--text-muted);
	font-size: 16px;
	font-style: normal;
	font-weight: 450;
	line-height: 150%;

	span {
		color: var(--accent);
		font-weight: 500;
	}

	b {
		color: var(--text-color);
		font-weight: 500;
	}
}